
.thumnail{
      width: 100%;
}


  
.video-author,
.video-stats {
      font-size: 14px;
      color:rgb(96, 96, 96);
      margin-bottom: 0;
}

.video-author{
      margin-bottom: 4px;
}
    

.video-info-grid {
      display: grid;
      grid-template-columns: 60px 1fr;
}
.channel-picture{
      width: 50px;
      vertical-align: top;
}

.video-info{
      width: 245px;
}

.profile-picture{
      width: 50px;
      border-radius: 40px;
}
    
.video-title{
      margin-top: 0px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 12px;
}
.thumbnail-row{
      margin-bottom: 12px;
      position: relative;
}

.video-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 14px;
}
@media (max-width: 750px) {
      .video-grid {
            grid-template-columns: 1fr 1fr;
      }
}
@media (min-width: 1000px) {
      .video-grid {
            grid-template-columns: 1fr 1fr 1fr 1fr;
      }
}

@media (min-width: 751px) and (max-width: 999px) {
      .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
}
.video-time {
      background-color: black;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 12px;
      font-weight: 500;
      padding: 4px;
      border-radius: 2px;
      color:white;
      position: absolute;
      right: 8px;
      bottom: 10px;
}